<html>
    <head>
        <title>
            nodejs | crud
        </title>
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            <!-- jQuery library -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <!-- Popper JS -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <!-- Latest compiled JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            <!-- including fontawesome -->
            <script src='https://kit.fontawesome.com/a076d05399.js'></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

            <style>
                .instagram-gradient{
background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1);
  }
            </style>
            
    </head>
    <body class="instagram-gradient">
        <div class="container">
            <h1 class="display-4 text-center text-light">
                Node.js  CRUD Operation
            </h1>
            <hr>
        <div class="container">
            <blockquote class="blockquote text-right">
                <p class="mb-0">
                    I have created CRUD opeartion in Nodejs with MongoDB and .hbs file extention and also I've focused on some beautifull layouts and color combination as inspired by @instagram.
                </p>
                <footer class="blockquote-footer text-light"><b>@aadi_0204</footer>
            </blockquote>
            <h4>Dependencies:</h4>
                <ul>
                    <li> body-parser </li>
                    <li> email-validator </li>
                    <li> express </li>
                    <li> express-handlebars </li>
                    <li> handlebars </li>
                    <li> mongoose </li>
                    <li> nodemon </li>
                </ul>
            </div>
        </div>
    </body>
</html>